In [1]:
import pandas as pd
data_frame = pd.read_csv("kl.csv", encoding="windows-1252")
data_frame.shape

(18207, 89)

In [2]:
data_frame.describe()

,Unnamed: 0,ID,Age,Overall,Potential,Special,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,18207.000000,18207.000000,18206.000000,18206.000000,18207.000000,18207.000000,18159.000000,18159.000000,18159.000000,18147.000000,...,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000,18159.000000
mean,9103.000000,214298.338606,25.122048,66.237449,71.307299,1597.809908,1.113222,2.947299,2.361308,19.546096,...,48.548598,58.648274,47.281623,47.697836,45.661435,16.616223,16.391596,16.232061,16.388898,16.710887
std,5256.052511,29965.244204,4.670022,6.907059,6.136496,272.586016,0.394031,0.660456,0.756164,15.947765,...,15.704053,11.436133,19.904397,21.664004,21.289135,17.695349,16.906900,16.502864,17.034669,17.955119
min,0.000000,16.000000,16.000000,46.000000,48.000000,731.000000,1.000000,1.000000,1.000000,1.000000,...,5.000000,3.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4551.500000,200315.500000,21.000000,62.000000,67.000000,1457.000000,1.000000,3.000000,2.000000,8.000000,...,39.000000,51.000000,30.000000,27.000000,24.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,9103.000000,221759.000000,25.000000,66.000000,71.000000,1635.000000,1.000000,3.000000,2.000000,17.000000,...,49.000000,60.000000,53.000000,55.000000,52.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,13654.500000,236529.500000,28.000000,71.000000,75.000000,1787.000000,1.000000,3.000000,3.000000,26.000000,...,60.000000,67.000000,64.000000,66.000000,64.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,18206.000000,246620.000000,45.000000,94.000000,95.000000,2346.000000,5.000000,5.000000,5.000000,99.000000,...,92.000000,96.000000,94.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [3]:
data_frame.values

array([[0, 158023, 'L. Messi', ..., 14.0, 8.0, 'â‚¬226.5M'],
       [1, 20801, 'Cristiano Ronaldo', ..., 14.0, 11.0, 'â‚¬127.1M'],
       [2, 190871, 'Neymar Jr', ..., 15.0, 11.0, 'â‚¬228.1M'],
       ...,
       [18204, 241638, 'B. Worman', ..., 6.0, 13.0, 'â‚¬165K'],
       [18205, 246268, 'D. Walker-Rice', ..., 8.0, 9.0, 'â‚¬143K'],
       [18206, 246269, 'G. Nugent', ..., 12.0, 9.0, 'â‚¬165K']],
      dtype=object)

In [4]:
data_frame[data_frame["Age"]>40].head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
1120,1120,156092,J. Villar,41.0,https://cdn.sofifa.org/players/4/19/156092.png,Paraguay,https://cdn.sofifa.org/flags/58.png,77.0,77,NaN,...,55.0,13.0,13.0,14.0,75.0,75.0,74.0,78.0,77.0,NaN
4228,4228,3665,B. Nivet,41.0,https://cdn.sofifa.org/players/4/19/3665.png,France,https://cdn.sofifa.org/flags/18.png,71.0,71,ESTAC Troyes,...,82.0,58.0,56.0,43.0,11.0,7.0,8.0,14.0,7.0,NaN
4741,4741,140029,O. PÃ©rez,45.0,https://cdn.sofifa.org/players/4/19/140029.png,Mexico,https://cdn.sofifa.org/flags/83.png,71.0,71,Pachuca,...,62.0,23.0,12.0,11.0,70.0,64.0,65.0,73.0,74.0,â‚¬272K
7225,7225,142998,C. MuÃ±oz,41.0,https://cdn.sofifa.org/players/4/19/142998.png,Argentina,https://cdn.sofifa.org/flags/52.png,68.0,68,CD Universidad de ConcepciÃ³n,...,62.0,18.0,14.0,19.0,67.0,65.0,68.0,71.0,68.0,â‚¬84K
10545,10545,140183,S. Narazaki,42.0,https://cdn.sofifa.org/players/4/19/140183.png,Japan,https://cdn.sofifa.org/flags/163.png,65.0,65,Nagoya Grampus,...,45.0,27.0,24.0,22.0,64.0,63.0,62.0,67.0,63.0,â‚¬50K

Determine good deals for players, such as ones with high value and low wage

In [ ]:
data_frame.sort_values(["Value", "Wage"], ascending=[False, True])[["Name", "Value", "Wage"]]

From ZTM, select columns first and then calculate difference between value and wage

In [12]:
df1 = pd.DataFrame(data_frame, columns=["Name", "Wage", "Value"])

df1['Difference'] = df1["Value"] - df1["Wage"]
df1

TypeError: unsupported operand type(s) for -: 'str' and 'str'